<h1>All Rental Requests for <%= @cat.name %></h1>

<table border="1" cellpadding="5">
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Status</th>
  </tr>
  <% @cat_rentals.each do |cat_rental| %>
    <tr>
      <td><%= cat_rental.start_date %></td>
      <td><%= cat_rental.end_date %></td>
      <td><%= cat_rental.status %></td>
    </tr>
  <% end %>
</table>
