<form class="" action="/users" method="post">
  <%= auth_token %>
  <label for="username">Username:</label>
  <input id="username" type="text" name="user[user_name]">

  <label for="password">Password:</label>
  <input id="password" type="password" name="user[password]">

  <input type="submit" value="Sign Up">
</form>

<% content_for :footer do %>
  <p>This is the sign up page.</p>
<% end %>
